<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="AllowTestFeatures" value="true" />
    <add key="XmlOutputDirectory" value="C:\temp\DOPA\XMLout"/>
  </appSettings>
</configuration>