<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="AllowTestFeatures" value="true"/>
    <add key="XmlOutputDirectory" value="c:\temp\DOPA XML Output"/>
    <add key="PdfDirectory" value="C:\Users\Andy\OneDrive\Dokumente\Thailand\RoyalGazette"/>
    <add key="WikiDataUsername" value="TambonBot"/>
    <add key="WikiDataPassword" value="psr1913thailand"/>
  </appSettings>
</configuration>