<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="AllowTestFeatures" value="true" />
    <add key="WikiDataUsername" value="TambonBot" />
    <add key="WikiDataPassword" value="psr1913thailand" />
    <add key="PdfDirectory" value="d:\data\Thailand\DOPA\PDF" />
    <add key="XmlOutputDirectory" value="d:\data\Thailand\DOPA\XmlOut" />
    <add key="EntityBrowserCheckWikiData" value="true" />
  </appSettings>
</configuration>